*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.contain{
    display: flex;
    justify-content:space-around;
}
.contain img{
    width: 50px;
    height: 50px;
}
.menu-nav li{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}
.menu-nav li:hover .sub_menu{
    display: block;
  
}
.sub_menu{
    width: 300px;
    box-shadow: 2px 2px 5px #ccc ;
    padding-top: 10px;
    position: absolute;
    display: none;

}
.sub_menu li{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccc;
}